.title {
}

h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  font-family: $ff-main;
  font-style: normal;

  & span {
    font-weight: 600;
  }

  @media (max-width: $md) {
    font-size: 24px;
  }
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  font-style: normal;

  & span {
    font-weight: 400;
  }

  @media (max-width: $md) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  font-style: normal;
}
