.accordion {
}

.accordion__block {
  margin-bottom: 30px;
}

.accordion__item {
  display: block;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
  font-style: normal;

  background: url("../img/icon/angle-down-solid.svg") no-repeat;
  background-position: center right;
  background-size: 12px;
  cursor: pointer;

  &.active {
    color: $c-green;
  }
}

.accordion__content {
  &.hide {
    display: none;
  }
}
