.design {
  padding-top: 135px;

  @media (max-width: $md) {
    padding-top: 150px;
  }
}

.design__title {
  margin-bottom: 65px;

  text-align: center;

  @media (max-width: $md) {
    margin-bottom: 50px;
  }
}

.design__sub-title {
  max-width: 545px;
  margin: 0 auto;
  margin-bottom: 80px;

  @media (max-width: $md) {
    margin-bottom: 65px;
  }
}

.design__sidebar {
  max-height: 1080px;

  @media (max-width: $lg) {
    max-height: 100%;
  }

  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.design__wrap-content {
}

.design__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px !important;
}

.design__card {
  width: calc(100% / 2 - 30px);
  margin: 0 15px 50px;

  @media (max-width: $sm) {
    width: calc(100% - 30px);
    margin-bottom: 35px;
  }
}
