.marketplace {
  position: relative;

  padding-top: 80px;
  padding-bottom: 250px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    background: url("../img/bc/marketplace-bc.png") repeat-x;
    background-size: contain;

    @media (max-width: $lg) {
      background-size: 115%;
    }
  }

  @media (max-width: $lg) {
    padding-bottom: 150px;
  }

  @media (max-width: $md) {
    padding: 50px 0;
  }
}

.marketplace__title {
  position: relative;

  max-width: 740px;
  margin: 0 auto 30px;
  padding-bottom: 122px;

  @media (max-width: $md) {
    margin-bottom: 155px;
    padding-bottom: 0;
  }
}

.marketplace__tooltip {
  top: 138px;
  right: 217px;

  background-color: $c-yellow;

  &::after {
    top: -5px;
    left: 35%;

    border-color: transparent $c-yellow transparent transparent;
  }

  @media (max-width: $md) {
    top: 85px;
    right: 15px;
  }
}

.marketplace__wrap-img {
  display: flex;
  justify-content: center;
  margin-bottom: 145px;
}


.marketplace__title-secondary {
  margin-bottom: 112px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-main;
  font-style: normal;

  & span {
    font-weight: 600;
  }

  @media (max-width: $md) {
    margin-bottom: 20px;

    font-size: 20px;
  }
}

.marketplace__block {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.marketplace__block-img {
  position: absolute;
  top: -180px;
  left: -265px;

  @media (max-width: $xl) {
    left: -360px;
  }

  @media (max-width: $lg) {
    max-width: 680px;
  }

  @media (max-width: $md) {
    // display: none;
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
  }
}

.marketplace__content {
  position: relative;

  width: 49%;

  @media (max-width: $xl) {
    width: 55%;
  }

  @media (max-width: $lg) {
    width: calc(65% - 60px);
    margin-left: 60px;
  }

  @media (max-width: $md) {
    width: 100%;
    margin-left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -140px;
    z-index: -1;

    display: block;
    width: 160px;
    height: 178px;

    background: url("../img/bc/market-rectangle.png") no-repeat;
    background-size: 100%;
  }
}

.marketplace__text {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: $fz-secondary;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  &--bold {
    font-weight: 600;
  }
}

.marketplace__subscribe {
  margin-top: 50px;
  margin-bottom: 35px;
}

.marketplace__text-accent {
  font-weight: 600;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-green;
  font-style: normal;
}
