.nav {
}

.nav__list {
  display: flex;

  .header__nav & {
    justify-content: space-between;
    min-width: 570px;

    @media (max-width: $xl) {
      width: 100%;
      min-width: auto;
    }

    @media (max-width: $lg) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.nav__item {
  position: relative;

  padding: 12px 0;


  .header__nav & {
    @media (max-width: $lg) {
      margin-bottom: 25px;
    }
  }
}

.nav__link {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  &:hover {
    font-weight: 700;
    color: $c-main;
    text-decoration: none;
  }

  &.active {
    font-weight: 700;
  }

  .header__nav & svg {
    width: 12px;
    height: 12px;

    fill: $c-secondary;
  }
}





.nav__icon {
}
