.search {
  position: relative;
}

.search__input {
  min-width: 100%;
  padding-right: 50px;

  @media (max-width: $xl) {
    width: 100%;
  }

  @media (max-width: $lg) {
    font-size: $fz-main;
  }

  @media (max-width: $md) {
    min-width: 100%;
    padding: 17px;
    padding-right: 50px;
  }
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 20px;

  display: block;
  width: 18px;
  height: 18px;

  transform: translate(0, -50%);

  &:focus {
    outline: none;
  }

  &:focus svg {
    fill: $c-accent;
  }

  @media (max-width: $md) {
    transform: translate(0, -100%);
  }

  @media (max-width: $sm) {
    transform: translate(0, -50%);
  }
}

.search__btn svg {
  width: 18px;
  height: 18px;

  fill: $c-green;

  &:hover {
    fill: $c-accent;
  }

  &:focus {
    outline: none;

    fill: $c-accent;
  }
}

.search__input:focus svg {
  fill: $c-accent;
}

