.seo {
  padding-top: 135px;
  padding-bottom: 100px;
}

.seo__title {
  margin-bottom: 40px;

  font-weight: 700;
  text-align: center;
}


.seo__sub-title {
  margin-bottom: 45px;
}

.seo__sidebar {
  & .search__input {
    min-width: 100%;
  }

  @media (max-width: $lg) {
    min-height: auto;
    margin-bottom: 30px;
  }
}

.seo__content {
}

.seo__wrap-block {
  margin: 0 -13px 30px !important;
}

.seo__block {
  width: calc(100% / 2 - 24px);
  margin: 0 12px 32px;

  &:hover {
    text-decoration: none;
 
 }
}
