.subscribe {
  display: flex;
  flex-wrap: wrap;
}

.subscribe__input {
  margin-right: 25px;

  @media (max-width: $lg) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  @media (max-width: $md) {
    min-width: 100%;
  }
}

.subscribe__btn {
  min-width: 190px;

  font-size: $fz-secondary;

  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .08), 0 4px 6px rgba(50, 50, 93, .1);

  @media (max-width: $lg) {
    min-width: 264px;
  }

  @media (max-width: $md) {
    min-width: 100%;
    padding: 15px;
  }
}
