input,
textarea {
  padding: 15px 19px;

  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-secondary;
  font-style: normal;

  border: 1px solid #e5e5e5;
  border-radius: 4px;

  &::placeholder {
    font-family: $ff-main;
    color: $c-secondary;
  }

  &:hover,
  &:focus {
    border-color: #e5e5e5;
    outline: none;
  }
}
