// ////////////////////////////////////////// Montserrat
@font-face {
  font-weight: 400;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-Regular.woff2),
  url(../font/Montserrat/Montserrat-Regular.woff);
}

@font-face {
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-Medium.woff2),
  url(../font/Montserrat/Montserrat-Medium.woff);
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-SemiBold.woff2),
  url(../font/Montserrat/Montserrat-SemiBold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Montserrat;
  font-style: normal;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-Bold.woff2),
  url(../font/Montserrat/Montserrat-Bold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Montserrat;
  font-style: italic;

  font-display: swap;
  src: url(../font/Montserrat/Montserrat-BoldItalic.woff2),
  url(../font/Montserrat/Montserrat-BoldItalic.woff);
}
